/* shered styles  */
/* font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');


:root {
    --pink: #FF42A5;
}
@media screen and (max-width:576px) {

    h3 {
        font-size: 40px;
    }
}

body {
    font-family: Work Sans;
    font-size: 18px;
}

h3 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    margin: 0;

}

h2 {

    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

ul {
    list-style: none;
}

a, span {
    text-decoration: none;
    color: #3C354F;
    text-align: center;

    font-weight: 500;
    line-height: normal;
}

.btn {
    padding: 15px 30px;
    border-radius: 48px;
    border-width: 0;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}


/* headear style section  */
.header-container {
    display: flex;
    justify-content: space-between;

    width: 80%;
    margin: 20px auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo img {
    width: 86px;
    height: 40px;
}

.logo span {
    color: var(--pink);
    font-size: 45px;
    font-weight: 700;
}

.navigation {
    display: flex;

    gap: 30px;
    align-items: center;
}

.navigation ul {
    display: flex;

    margin: 0;
    gap: 30px;
    align-items: center;
}

.follow {
    display: flex;
    gap: 30px;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 10px;
}


/* responsive header for devices  */
@media screen and (max-width:992px) and (min-width:768px) {
    .header-container {


        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .logo span {
        color: var(--pink);
    }

    .navigation {

        flex-direction: column;
        align-items: center;
    }

    .navigation ul {
        display: flex;
        margin: 0;
        gap: 30px;

        padding-left: 0;
    }

    .follow {
        display: flex;
        gap: 30px;
    }
}

/* responsive header for devices  */
@media screen and (max-width:768px) and (min-width:576px) {

    .header-container {


        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .logo span {
        color: var(--pink);
    }

    .navigation {

        flex-direction: column;
        align-items: center;
    }

    .navigation ul {
        display: flex;
        margin: 0;
        gap: 30px;

        padding-left: 0;
    }

    .follow {
        display: flex;
        gap: 30px;
    }
}

/* responsive header for devices  */
@media screen and (max-width:576px) {

    .header-container {


        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .logo span {
        color: var(--pink);
    }

    .navigation {

        flex-direction: column;
        align-items: center;
    }

    .navigation ul {
        display: flex;
        margin: 0;
        gap: 30px;

        padding-left: 0;
    }

    .follow {
        display: flex;
        gap: 30px;
    }
}

/* play like section  */
.play-like-text>p>img {
    vertical-align: bottom;
    margin-right: 10px;
}

.play-like {
    background-image: url('/images/Group14.png');

}

.play-like-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}

.play-like-text {
    margin-top: 100px;

}



.play-like-image {
    width: 40%;
}

.play-like-image>img {
    width: 100%;
}

.inside-pl-text>p>img {
    vertical-align: bottom;
    margin-right: 10px;
}

.pl-btn {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.play-like-text h2 {
    /* color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); */
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* responsive play-like section */
@media screen and (max-width:992px) and (min-width:768px) {



    .play-like-container {

        width: 100%;

        flex-direction: column-reverse;
        align-items: center;
    }




    .play-like-image {
        width: 90%;
    }

    .play-like-image>img {
        width: 100%;
    }





}

@media screen and (max-width:768px) and (min-width:576px) {
    .play-like-container {

        width: 100%;

        flex-direction: column-reverse;
        align-items: center;
    }




    .play-like-image {
        width: 90%;
    }

    .play-like-image>img {
        width: 100%;
    }

}

@media screen and (max-width:576px) {
    .play-like-container {

        width: 100%;

        flex-direction: column-reverse;
        align-items: center;
    }




    .play-like-image {
        width: 90%;
    }

    .play-like-image>img {
        width: 100%;
    }

    .play-like-text h2 {
        font-size: 80px;
    }

}

/* we are gammer section  */
.we-are-gamer {
    width: 80%;
    margin: auto;
    display: flex;
}

.wag-img {
    width: 60%;
}

.wag-img>img {
    width: 100%;
}

.wag-text {
    width: 40%
}

.wag-text * {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wag-text h3 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wag-text>p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.our-perpose {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.our-perpose>p {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.our-perpose>span {
    color: #534C64;
    font-family: Work Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;

    width: 100%;
}

/* we are gammer responsive section  */
@media screen and (max-width:992px) and (min-width:768px) {

    .we-are-gamer {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wag-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wag-text h3,
    .wag-text p {
        text-align: center;
    }

    .wag-img {
        width: 100%;
    }

    .our-perpose>p {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .our-perpose>span {

        text-align: center;

    }

}

@media screen and (max-width:768px) and (min-width:576px) {
    .we-are-gamer {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wag-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wag-text h3,
    .wag-text p {
        text-align: center;
    }

    .wag-img {
        width: 100%;
    }

    .our-perpose>p {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .our-perpose>span {

        text-align: center;

    }
}

@media screen and (max-width:576px) {
    .we-are-gamer {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wag-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wag-text h3, .wag-text p {
        text-align: center;
    }

    .wag-img {
        width: 100%;
    }

    .our-perpose>p {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .our-perpose>span {

        text-align: center;

    }
}

/* Funny video section  */
section.funny-videos {
    width: 100%;

}

.funny-videos>h3 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    width: 80%;
    margin: 0 auto;


}

.funny-videos>h3>span {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-videos>p {

    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;

}

.funny-videos>div {
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
}

.funny-videos>div>.fv1>div {
    width: 100%;
    
    border-radius: 16px;
}

.funny-videos>div>.fv2>div {
    width: 100%;
   
    border-radius: 16px;
   
    
}
.fv3{
    position: relative;
}

.funny-videos>div>.fv3>div {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 100%;
    border-radius: 16px;
    display: none;
    
}
.fv3>img:hover+div{
   
    display: block;
}
.fv3>img+div:hover{
    display: block;
}
.fv3>div{
    margin: 0px auto;
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50% ,-50%);
    

}
.fv1>img , .fv2>img , .fv3>img , .fv4>img{
    width: 100%;
}
.fv3>div>p{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.fv3>div>img{
    margin: 0 auto;
    display: block;
}

.funny-videos>div>.fv4>div {
    width: 100%;
    
    border-radius: 16px;
    
    
}



.funny-videos>div>div {
    display: flex;
    flex-direction: column;
    width: 19vw;
    
}
/* responsive funny-videos secton for medium devices  */
@media screen and (max-width:992px) and (min-width:768px) {
    .funny-videos>div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .funny-videos>div>div {
        align-items: center;
        width: 80%;
        
        
    }
    
    
    
   
    
}

/* responsive funny-videos section for small devices  */
@media screen and (max-width:768px) and (min-width:576px) {
    .funny-videos>div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .funny-videos>div>div {
        align-items: center;
        width: 80%;
        
        
    }
   
    
   
   
    
}

/*  responsive funny-videos section for ex-small devices */

@media screen and (max-width:576px) {
    .funny-videos>div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .funny-videos>div>div {
        align-items: center;
        width: 80%;
        
        
    }
    
    
}
/* play instantly section  */
section.play-instantly{
     width:80%;
     margin: 10px auto;
    display:flex ;
    gap: 150px;
    justify-content: right;
}
.play-instantly>div{
    display: flex;
    flex-direction: column;

}
.play-instantly div:first-child{
   height: 500px;
   justify-content: center;
}

.play-instantly h3{
    max-width: 350px;
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 60px; 
}
.play-instantly h3:first-child{
color:var(--pink);
}
.play-instantly p{
    max-width: 350px;
    text-align: right;
}
.play-instantly img:nth-child(1){
    width: 35vw;
    height: 35.5vw;
}
.play-instantly img:nth-child(2){
    width: 20vw;
    height: 23vw;
    position: relative;
    bottom: 15vw;
    left: -8vw;
}
/* play .play-instantly responsive 
 */
 @media screen and (max-width:992px) and (min-width:768px) {
    section.play-instantly{
        flex-direction: column; 
        gap: 0px;
    }
    .play-instantly>div {
        height: 250px;
        width: 100%;
        margin: 0px auto 0 auto;
       align-items: center; 
    }
    .play-instantly div:first-child{
        height: 250px;
        justify-content: default;

     }
     .play-instantly div:nth-child(2){
        height: 250px;
        justify-content: default;
        margin-top: 50px;
        
     }
     .play-instantly img:nth-child(2){
        
        left: -15vw;
    }
    .play-instantly p {
        width: 80%;
        text-align: center;
    }
    .play-instantly h3 {
        width: 80%;
        text-align: center;
    }
    .play-instantly img:nth-child(1) {
        width: 80%;
        height: auto;
    }
 }

 @media screen and (max-width:768px) and (min-width:576px){
    section.play-instantly{
        flex-direction: column; 
        gap: 0px;
    }
    .play-instantly>div {
        height: 250px;
        width: 100%;
        margin: 0px auto 0 auto;
       align-items: center; 
    }
    .play-instantly div:first-child{
        height: 250px;
        justify-content: default;

     }
     .play-instantly div:nth-child(2){
        
        justify-content: default;
        margin-top: 50px;
        
     }
     .play-instantly img:nth-child(1) {
        width: 80%;
        height: auto;
    }
    .play-instantly img:nth-child(2) {
        width: 40%;
        height: auto;
        position: relative;
        bottom: 20vw;
        left: -30vw;
        
    }
     
    .play-instantly p {
        width: 80%;
        text-align: center;
    }
    .play-instantly h3 {
        width: 80%;
        text-align: center;
    }
    
    
 }
 @media screen and (max-width:576px) {
    section.play-instantly{
        flex-direction: column; 
        gap: 0px;
    }
    .play-instantly>div {
        height: 250px;
        width: 100%;
        margin: 0px auto 0 auto;
       align-items: center; 
    }
    .play-instantly div:first-child{
        
        justify-content: default;

     }
     .play-instantly div:nth-child(2){
        
        justify-content: default;
        margin-top: 50px;
        
     }
     .play-instantly img:nth-child(2) {
        width: 40%;
        height: auto;
        position: relative;
        bottom: 20vw;
        left: -30vw;
        
    }
    .play-instantly p {
        width: 80%;
        text-align: center;
    }
    .play-instantly h3 {
        width: 100%;
        text-align: center;
    }
    .play-instantly img:nth-child(1) {
        width: 80%;
        height: auto;
        
    }
 }